
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&family=M+PLUS+1+Code&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Playfair+Display:wght@400;500&display=swap');

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -50px 0 0 -50px;
  width: 150px;
  height: 150px;
  
  & .path {
    stroke: #93deff;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
  
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}

#title {
  font-family: 'Satisfy', cursive;
}

#calendarHeader {
  font-family: 'Playfair Display', serif;
}

#datePickerHeader {
  font-family: 'Playfair Display', serif;
}

#loginModal {
  font-family: 'PT Serif', serif;
}